@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color: #fff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #444444;
$grey-color: #9191b5;

h1, h2, h4, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}

h3 {
	font-size: 24px;
	letter-spacing: 1.2px;
}

p {
	font-family: 'Open Suns', serif;
}

body {
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	line-height: 24px;
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.header {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: $light-color;
	padding-bottom: 160px;
	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 48px;
		padding-bottom: 166px;
		@media(max-width: 1020px) {
			padding-bottom: 100px;
		}
		@media(max-width: 920px) {
			flex-direction: column;
			padding-bottom: 25px;
		}
	}
	&__logo {
		display: block;
		width: 137px;
		height: 28px;
		background-image: url(../img/svg/Logo.svg);
		@media(max-width: 920px) {
			margin-bottom: 25px;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		font-family: 'Open Sans', serif;
	}
	&__item {
		text-decoration: none;
		margin-left: 26px;
		padding-bottom: 5px;
		color: $light-color;
		letter-spacing: .5px;
		border-bottom: 3px solid transparent;
		transition: .3s;
		&:hover {
			border-bottom: 3px solid $accent-color;
		}
	}
	&__item--active {
		border-bottom: 3px solid $accent-color;
	}
	&__page {
		margin-top: 10px;
	}
	&__book {
		display: flex;
		justify-content: space-between;
		@media(max-width: 1020px) {
			flex-direction: column-reverse;
			text-align: center;
		}
	}
	&__demo {
		position: relative;
		background-image: url(../img/svg/book.svg);
		background-repeat: no-repeat;
		display: block;
		width: 447px;
		height: 643px;
		flex-basis: 500px;
		@media(max-width: 1020px) {
			margin: 48px auto 0;
		}
	}
	&__title {
		position: absolute;
		font-size: 36px;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		top: 118px;
		left: 131px;
	}
	&__subtitle {
		display: block;
		font-family: 'Open Sans', serif;
		font-size: 14px;
		font-weight: 300;
		color: $accent-color;
		text-transform: initial;
		margin-top: 10px;
		letter-spacing: .7px;
	}
	&__author {
		position: absolute;
		font-family: 'Open Sans', serif;
		font-size: 14px;
		color: $accent-color;
		letter-spacing: .7px;
		bottom: 52px;
		left: 88px;
	}
}

.info {
	flex-basis: calc(100% - 500px);	
	&--width {
		flex-basis: calc(100% - 600px);
		@media(max-width: 1020px) {
			flex-basis: calc(93% - 315px);
		}
	}
	&--page {
		@media(max-width: 1020px) {
			flex-basis: calc(93% - 315px);
		}
	}
	&__name {
		font-family: 'Open Sans', serif;
		font-size: 18px;
		margin-bottom: 32px;
		&--page {
			margin-top: 16px;
			margin-left: 0;
			margin-bottom: 14px;
		}
		&--item {
			margin-top: -7px;
			margin-left: 5px;
			margin-bottom: 18px;
			letter-spacing: .8px;
			font-size: 18px;
		}
	}
	&__title {
		font-size: 48px;
		font-weight: 700;
		line-height: 53px;
		margin-bottom: 16px;
		letter-spacing: 2px;
	}
	&__subtitle {
		font-size: 18px;
		line-height: 23px;
		letter-spacing: .9px;
		color: $accent-color;
	}
	&__description {
		display: block;
		color: $accent-color;
		font-size: 18px;
		margin-top: 2px;
		letter-spacing: .75px;
	}
	&__text {
		font-family: 'Open Sans', serif;
		font-size: 15px;
		line-height: 24px;
		letter-spacing: .7px;
		margin-bottom: 24px;
		margin-right: 100px;
		@media(max-width: 920px) {
			margin-left: 100px;
		}
	}
	&__item {
		margin-bottom: 55px;
	}
	&__date {
		font-family: 'Open Sans', serif;
		font-size: 15px;
		letter-spacing: .8px;
		margin-top: 22px;
		margin-bottom: 2px;
	}
	&__book {
		font-family: 'Open Sans', serif;
		font-size: 18px;
		letter-spacing: .75px;
		margin-bottom: 16px;
	}
	&__desk {
		font-family: 'Open Sans', serif;
		font-size: 15px;
		letter-spacing: .75px;
		@media(max-width: 920px) {
			margin-left: 100px;
			margin-right: 100px;
		}
	}
}

.btn {
	display: block;
	background: linear-gradient(to top left, #65e49c, #65e4af);
	color: $light-color;
	font-size: 18px;
	text-decoration: none;
	width: 250px;
	border-radius: 3px;
	text-align: center;
	margin-top: 48px;
	margin-bottom: 19px;
	padding: 11px 0 15px 0;
	letter-spacing: .7px;
	border: none;
	box-shadow: 0 -2px #59ba88 inset;
	&:focus {
		outline: none;
	}
	&--header {
		@media(max-width: 1020px) {
			margin: 48px auto 19px;
		}
	}
	&--autor {
		@media(max-width: 920px) {
			margin: 48px auto 19px;
		}
	}
	&--contents {
		margin-top: 30px;
		width: 135px;
	}
	&--other {
		margin: 0 auto;
		width: 230px;
		margin-bottom: 160px;
		@media(max-width: 920px) {
			margin-bottom: 80px;
		}
	}
	&--page {
		width: 137px;
		margin-top: 24px;
		@media(max-width: 920px) {
			margin: 25px auto;
		}
	}
	&--blog {
		margin: 0 auto;
	}
	&--subscribe {
		width: 100%;
		margin-top: 20px;
		@media(max-width: 1020px) {
			max-width: 500px;
			margin: 20px auto 0;
		}
	}
}

.page {
	padding-top: 161px;
	padding-bottom: 160px;
	@media(max-width: 920px) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	&--blog {
		padding-bottom: 138px;
	}
	&__autor {
		display: flex;
		justify-content: space-between;
		@media(max-width: 920px) {
			flex-direction: column;
			text-align: center;
		}
	}
	&__img {
		position: relative;
		@media(max-width: 920px) {
			max-width: 356px;
			margin: 35px auto 0;
		}
	}
	&__svg {
		position: absolute;
		z-index: -1;
		right: 0;
		@media(max-width: 1020px) {
			width: 300px;
			height: 412px;
		}
		&--left {
			right: inherit;
			left: 0;
		}
	}
	&__photo {
		margin-top: 45px;
		margin-right: 44px;
		@media(max-width: 1020px) {
			width: 300px;
		}
		@media(max-width: 920px) {
			margin-bottom: 20px;
		}
		&--left {
			margin-top: 49px;
			margin-right: 0;
			margin-left: 51px;
		}
	}
	&__counter {
		display: flex;
		justify-content: space-around;
		margin-top: 214px;
		@media(max-width: 920px) {
			margin-top: 110px;
		}
		@media(max-width: 750px) {
			flex-direction: column;
		}
	}
	&__namber {
		font-family: 'Roboto Slab', serif;
		display: block;
		font-size: 80px;
		font-weight: 100;
		color: $accent-color;
		margin-bottom: 45px;
		@media(max-width: 480px) {
			font-size: 60px;
			margin-bottom: 29px;
		}
	}
	&__text {
		font-family: 'Open Sans', serif;
		text-align: center;
		font-size: 18px;
		@media(max-width: 750px) {
			margin-bottom: 80px;
		}
		@media(max-width: 480px) {
			margin-bottom: 45px;
		}
	}
}

.contents {
	&--gray {
		background-color: $bg-light-color;
		padding-bottom: 240px;
		@media(max-width: 920px) {
			padding-bottom: 80px;
		}
	}
	&__title {
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 1.8px;
		padding-top: 160px;
		margin-bottom: 20px;
		letter-spacing: 2px;
		text-align: center;
		@media(max-width: 920px) {
			padding-top: 80px;
		}
	}
	&__subtitle {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 1px;
		color: $accent-color;
		text-align: center;
	}
	&__about {
		display: flex;
		justify-content: space-between;
		margin-top: 92px;
		@media(max-width: 1020px) {
			max-width: 750px;
			margin: 82px auto 0;
			flex-direction: column;
		}
	}
	&__block {
		flex-basis: calc(100% - 690px);
		@media(max-width: 1020px) {
			flex-basis: 100%;
		}
	}
	&__book {
		margin-bottom: 20px;
	}
	&__text {
		font-family: 'Open Suns', serif;
		letter-spacing: 1.8px;
		font-weight: 300;
	}
	&__box {
		display: flex;
		margin-top: 24px;
	}
	&__featured {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: .8px;
		margin-right: 20px;
	}
	&__fab {
		font-size: 18px;
		color: $accent-color;
		vertical-align: middle;
		margin-right: 12px;
	}
	&__table {
		flex-basis: 585px;
		@media(max-width: 1020px) {
			flex-basis: 100%;
			margin-top: 40px;
		}
	}
	&__name {
		margin-bottom: 20px;
	}
	&__list {
		margin: 0;
		padding: 0;
		counter-reset: list;
		column-count: 2;
		column-gap: 19px;
		@media(max-width: 630px) {
			column-count: 1;
		}
		&--next {
			counter-reset: list 10;
			position: relative;
			&::before {
				content: "";
				width: 100px;
				height: 2px;
				background-color: #5fc9b3;
				display: block;
				position: absolute;
				top: -5px;
			}
		}
	}
	&__item {
		position: relative;
		padding-left: 36px;
		counter-increment: list;
		list-style-type: none;
		margin-bottom: 8px;
		letter-spacing: .7px;
		&::before {
			content: counter(list) ". ";
		}
		&::after {
			content: "+";
			position: absolute;
			top: 1px;
			left: 0;
			font-family: 'Open Suns', serif;
			font-size: 15px;
			line-height: 22px;
			background-color: #5fc9b3;
			color: $light-color;
			padding: 0px 7px;
		}
	}
}

.other {
	&--grey {
		background-color: #F5F6FA;
		padding-bottom: 160px;
		@media(max-width: 920px) {
			padding-bottom: 80px;
		}
	}
	&__title {
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 1.8px;
		padding-top: 160px;
		letter-spacing: 2px;
		text-align: center;
		margin-bottom: 25px;
		@media(max-width: 920px) {
			padding-top: 80px;
		}
	}
	&__subtitle {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: .7px;
		color: $accent-color;
		text-align: center;
	}
	&__block {
		display: flex;
		justify-content: space-around;
		margin-top: 86px;
		margin-bottom: 84px;
		@media(max-width: 1020px) {
			flex-direction: column;
		}
		@media(max-width: 920px) {
			margin-top: 40px;
			justify-content: center;
		}
	}
	&__demo {
		position: relative;
		background-image: url(../img/svg/book_sm.svg);
		background-repeat: no-repeat;
		height: 410px;
		width: 270px;
		margin: 0 auto 35px;
	}
	&__name {
		position: absolute;
		font-size: 24px;
		color: $light-color;
		text-transform: uppercase;
		letter-spacing: .8px;
		top: 72px;
		left: 75px;
	}
	&__parag {
		display: block;
		font-family: 'Open Sans', serif;
		font-size: 12px;
		font-weight: 400;
		color: $accent-color;
		text-transform: initial;
		letter-spacing: .6px;
		margin-top: 10px;
		margin-left: -7px;
	}
	&__author {
		position: absolute;
		font-family: 'Open Sans', serif;
		font-size: 12px;
		color: $accent-color;
		bottom: 26px;
		left: 80px;
	}
	&__box {
		text-align: center;
		@media(max-width: 1020px) {
			margin-bottom: 20px;
		}
		@media(max-width: 920px) {
			max-width: 500px;
			margin: 0 auto;
		}
	}
	&__description {
		margin-bottom: 20px;
	}
	&__text {
		font-family: 'Open Sans', serif;
		font-size: 15px;
		letter-spacing: .8px;
		padding: 0 30px;
		margin-bottom: 12px;
	}
	&__more {
		text-decoration: none;
		font-weight: 700;
		color: $accent-color;
	}
}

.carousel {
	position: relative;
	padding-top: 225px;
	@media(max-width: 1020px) {
		background-color: $bg-dark-color;
	}
	@media(max-width: 920px) {
		padding-top: 80px;
	}
	&__svg {
		position: absolute;
		min-height: 694px;
		top: 0;
		width: 100%;
		z-index: -1;
		@media(max-width: 1020px) {
			display: none;
		}
	}
	&__block {
		text-align: center;
		padding-bottom: 226px;
		@media(max-width: 920px) {
			padding-bottom: 80px;
		}
	}
	&__thumb {
		display: block;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		width: 152px;
		height: 152px;
		border-radius: 100%;
	}
	&__photo {
		width: 152px;
		height: 152px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		object-fit: cover;
	}
	&__ava {
		position: relative;
		display: block;
		width: 152px;
		height: 152px;
		margin: 0 auto 30px;
	}
	&__bg {
		display: block;
		position: absolute;
		top: 0;
		right: -15px;
		background-image: url(../img/quotes.png);
		background-repeat: no-repeat;
		width: 48px;
		height: 42px;
	}
	&__name {
		color: $accent-color;
		margin-bottom: 4px;
	}
	&__prof {
		color: $grey-color;
		font-family: 'Open Sans', serif;
		max-width: 760px;
		margin: 0 auto 32px;
		line-height: 27px;
		letter-spacing: .75px;
	}
	&__text {
		color: $grey-color;
		font-family: 'Open Sans', serif;
		max-width: 760px;
		margin: 0 auto 30px;
		line-height: 27px;
		letter-spacing: .75px;
	}
}
.slick-dots {
	display: flex;
	justify-content: center;
	list-style-type: none;
	&>li {
		margin: 0 5px;
		&>button {
			text-indent: -9999px;
			width: 8px;
			height: 8px;
			border: none;
			background-color: $accent-color;
			border-radius: 100%;
			line-height: 0;
			font-size: 0;
			padding: 5px;
			cursor: pointer;
			&:focus {
				outline: none;
			}
		}
	}
	&>li.slick-active {
		&>button {
			width: 37px;
			border-radius: 10px;
		}
	}
}

.blog {
	display: flex;
	justify-content: space-between;
	margin: 88px 0 84px;
	@media(max-width: 900px) {
		flex-direction: column;
		max-width: 600px;
		margin: 85px auto 0;
	}
	&__item {
		flex-basis: 31%;
		@media(max-width: 900px) {
			margin-bottom: 40px;
		}
	}
	// подгонка больших изображений
	&__img {
		width: 100%;
		height: 220px;
		overflow: hidden;
		position: relative;
		margin-bottom: 20px;
	}
	&__photo {
		position: absolute;
		width: 100%;
		height: 220px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		object-fit: cover;
	}
	&__title {
		font-size: 18px;
		letter-spacing: .75px;
	}
	&__desc {
		font-family: 'Open Suns', serif;
		font-size: 18px;
		color: #86849B;
		margin-bottom: 15px;
	}
	&__link {
		cursor: $accent-color;
		text-decoration: none;
		color: $accent-color;
	}
	&__text {
		font-family: 'Open Suns', serif;
		font-size: 18px;
		color: #86849B;
		letter-spacing: .5px;
	}
}

.subscribe {
	padding-top: 160px;
	padding-bottom: 154px;
	@media(max-width: 920px) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	&__letter {
		display: flex;
		justify-content: space-between;
		@media(max-width: 1020px) {
			flex-direction: column;
			text-align: center;
		}
	}
	&__block {
		flex-basis: 49%;
		@media(max-width: 1020px) {
			flex-basis: 100%;
		}
	}
	&__title {
		font-size: 48px;
		margin-top: 8px;
		margin-bottom: 23px;
		letter-spacing: 1.9px;
	}
	&__text {
		font-family: 'Open Suns', serif;
		letter-spacing: .5px;
		font-size: 18px;
		color: #86849B;
		@media(max-width: 1020px) {
			margin-bottom: 35px;
		}
	}
	&__input {
		width: 100%;
		background-color: $bg-dark-color;
		border: none;
		color: $grey-color;
		box-sizing: border-box;
		padding: 15px 27px;
		letter-spacing: .6px;
		border-radius: 3px;
		@media(max-width: 1020px) {
			max-width: 500px;
		}
		&:focus {
			outline: none;
		}
		&::-webkit-input-placeholder {color:#767691;}
		&::-moz-placeholder          {color:#767691;}
		&:-moz-placeholder           {color:#767691;}
		&:-ms-input-placeholder      {color:#767691;}
	}
}

.footer {
	background-color: #42424E;
	color: $grey-color;
	padding: 80px 0 140px;
	&__block {
		display: flex;
		justify-content: space-between;
		padding-top: 80px;
	}
	&__item {
		flex-basis: 30%;
	}
	&__logo {
		display: block;
		width: 137px;
		height: 28px;
		background-image: url(../img/svg/Logo2.svg);;
		margin-bottom: 26px;
	}
	&__text {
		font-family: 'Open Suns', serif;
		letter-spacing: .04px;
		font-size: 18px;
		margin-bottom: 22px;
	}
	&__title {
		font-size: 18px;
		color: $accent-color;
		text-transform: uppercase;
		margin-top: 9px;
		margin-left: 90px;
		margin-bottom: 22px;
		letter-spacing: .5px;
		@media(max-width: 1020px) {
			margin-left: inherit;
			text-align: center;
		}
		&--two {
			margin-left: 80px;
			@media(max-width: 1020px) {
				margin-left: inherit;
				text-align: center;
			}
		}
	}
	&__list {
		list-style-type: none;
		margin-left: 90px;
		@media(max-width: 1020px) {
			margin-left: inherit;
			text-align: center;
		}
		&--two {
			margin-left: 80px;
			@media(max-width: 1020px) {
				margin-left: inherit;
				text-align: center;
			}
		}
	}
	&__line {
		line-height: 26px;
		letter-spacing: .5px;
		&--two {
			line-height: 24px;
		}
	}
	&__social {
		display: flex;
		justify-content: center;
		margin-top: 10px;
		margin-left: -25px;
		@media(max-width: 1020px) {
			margin-left: inherit;
		}
	}
	&__link {
		margin-right: 15px;
		color: $accent-color;
	}
}